// variables:
// https://www.0to255.com/ee3000
$color-primary-blue: #004980;
$color-primary-blue-dark: #003f6f;
$color-primary-blue-light: #5eb9ff;
$color-primary-red: #ee3000;
$color-primary-red-light: #f75;
$color-primary-grey: #565752;
$color-primary-grey-dark: #323230;
$color-primary-grey-light: #f7f7f7;
$color-primary-white: #fff;
$color-primary-black: #000;

$color-primary-green: #28b485;
$color-primary-green-light: #7ed56f;
// FONT
$default-font-size: 1.6rem;
// gridss
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2.5rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;
// gutter = space between columns
