:root {
  --ff-primary: Heebo, sans-serif;
  --ff-secondary: Bungee, cursive;
  --ff-accent: Bungee Shade, cursive;
  --prog-primary: Architects Daughter, sans-serif;
  --prog-secondary: Chango, cursive;
  --prog-accent: Bungee Shade, cursive;

  --clr-dark: 199 91% 18%;
  --clr-light: 195 30% 69%;
  --clr-gray: 213 33% 88%;
  --clr-white: 0 0% 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-donation {
  // font-family: var(--ff-primary);
  font-size: 1rem;
  & h1,
  h2,
  h3,
  h4 {
    // font-family: var(--ff-secondary);
    letter-spacing: 2px;
    line-height: 4rem;
    padding: 1rem 0;
    font-weight: 400;

    text-align: center;
  }
}
.body-program {
  // font-family: var(--prog-primary);
  font-size: 1rem;
  & h1,
  h2,
  h3,
  h4 {
    // font-family: var(--prog-secondary);
    letter-spacing: 1.2px;
    line-height: 3rem;
    padding: 1rem 0;
    font-weight: 400;

    text-align: center;
  }
  h2 {
    font-size: 2.25rem;
    color: #222650;
    margin-bottom: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
    // color: rgb(139, 169, 231);
    color: #5eb9ff;
  }
}

h1 {
  color: rgba(222, 227, 233, 0.89);
  //   color: rgba(2, 23, 46, 0.89);
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  margin: 0rem 3rem 18rem 3rem;
}

.offer-card__img {
  display: block;
  object-fit: cover;
  width: 100%;
  /* width: 25rem; */
  position: center;
  height: 23rem;
  // border-radius: 6px;
  z-index: 2;
  --card-shadow-color: rgba(0, 22, 43, 0.2);
  box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(0, 22, 43, 0.08));
  border: 4px solid rgba($color-primary-blue, 0.7);
  // border: 4px solid #ad1f24;
  border-radius: 0.25rem;
}
.img-program__img {
  display: block;
  object-fit: cover;
  min-width: 80%;
  max-width: 90%;
  /* width: 25rem; */
  position: center;
  max-height: 15rem;
  margin: 2rem auto 4rem auto;
  // max-width: 35rem;
  border-radius: 4px;
  z-index: 2;
  --card-shadow-color: rgba(39, 60, 80, 0.384);
  box-shadow: 0 10px 20px 0 var(--card-shadow-color, rgba(0, 22, 43, 0.8));
  // border: 2px solid #fff;
  object-fit: cover;
  border: 2px solid orangered;
}
.img-program__img-mid {
  display: block;
  // object-fit: cover;
  min-width: 50%;
  max-width: 80%;
  max-height: 15rem;
  position: center;
  margin: 2rem auto 4rem auto;
  // border-radius: 4px;
  // z-index: 2;
  // --card-shadow-color: rgba(39, 60, 80, 0.384);
  // box-shadow: 0 10px 20px 0 var(--card-shadow-color, rgba(0, 22, 43, 0.8));
  // border: 2px solid #fff;
  // object-fit: cover;
  // border: 2px solid orangered;
}
.img-program__img-full {
  display: block;
  object-fit: cover;
  min-width: 50%;
  max-width: 80%;
  position: center;
  margin: 2rem auto 4rem auto;
  border-radius: 4px;
  z-index: 2;
  --card-shadow-color: rgba(39, 60, 80, 0.384);
  box-shadow: 0 10px 20px 0 var(--card-shadow-color, rgba(0, 22, 43, 0.8));
  // border: 2px solid #fff;
  object-fit: cover;
  border: 2px solid orangered;
}
.img-box {
  position: absolute;
  top: -8rem;
  padding: 1.5rem 4rem;
  place-items: center;
}
.number {
  font-size: 1.95rem;
  text-transform: uppercase;
  font-weight: 900;
  z-index: -1;
  /* color: rgba(231, 18, 18, 0.521); */
  color: #ad1f24a3;
  // color: rgba(139, 6, 46, 0.5);
}
.number-programs {
  font-size: 2.95rem;
  text-transform: uppercase;
  font-weight: 900;
  z-index: -1;
  /* color: rgba(231, 18, 18, 0.521); */
  color: #ad1f24a3;
  // color: rgba(139, 6, 46, 0.5);
}
.number-program {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  z-index: -1;
  /* color: rgba(231, 18, 18, 0.521); */
  color: orangered;
  // color: rgb(139, 169, 231);
}
.text-box {
  position: relative;
  top: 17rem;
}

.text-box > .offer-card__title {
  margin: 0;
}

.text-program {
  z-index: 2;
  margin: 2rem;
}
.offer-main {
  //   background-image: linear-gradient(
  //     rgba(34, 36, 85, 0.042),
  //     rgba(87, 102, 148, 0.426),
  //     rgba(34, 36, 85, 0.042),
  //     rgba(4, 41, 97, 0.412),
  //     rgba(34, 36, 85, 0.042),
  //     rgba(4, 41, 97, 0.512)
  //   );
  background-color: $color-primary-grey-light;

  // background-color: rgba(3, 33, 65, 0.842);
  //   background-color: rgba(2, 23, 46, 0.89);
}
.offer-main-program {
  background-color: rgba(214, 221, 230, 0.342);
  padding-bottom: 7rem;
  // background-color: rgba(3, 33, 65, 0.842);
}
.offer-container {
  max-width: 130rem;
  padding: 8rem 2rem;
  margin-inline: auto;
  text-align: center;
  font-size: 2.3rem;
}
.offer-container__mastoras {
  // max-width: 100rem;
  padding: 2rem;
  margin-inline: auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
.donation-offer-card__img--mastoras {
  display: block;
  margin-top: 2rem;
  margin-inline: auto;
  // max-width: 100%;
  position: center;
  width: 60%;
  height: auto;
  border-radius: 6px;
  --card-shadow-color: rgba(0, 22, 43, 0.1);
  box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(0, 22, 43, 0.08));
  border: 2px solid #fff;
  margin-bottom: 2rem;

  @include respond(phone) {
    // max-width: 30rem;
  }
}

.mastoras-text {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.offer-box {
  position: relative;
  top: -8rem;
  margin: 4rem;
  & > h2 {
    color: rgb(238, 91, 91);
    font-size: 3rem;
  }
  & > h4 {
    color: #fff;
    font-size: 1.75rem;
  }
}

.offer-grid {
  // margin: 2rem;
  padding-bottom: 4rem;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: center;
  // place-items: center;
  // row-gap: 3rem;

  // @include respond(tab-land-small) {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // @include respond(phone) {
  //   grid-template-columns: 1fr;
  // }
}

.offer-program-grid {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

  justify-items: center;
  gap: 4rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    max-width: 100%;
  }
  @include respond(tab-land-small) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
.offer-program {
  // position: relative;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  background-color: $color-primary-blue;
  color: rgb(235, 237, 241);
  // background-color: rgb(235, 237, 241);
  // color: rgb(34, 38, 80);
  // padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  /* border: 1px solid hsl( var(--clr-gray)); */
  //   border: 3px solid rgb(6, 27, 92);
  border: 3px solid rgb(139, 169, 231);
  min-height: 40rem;
  --card-shadow-color: rgba(6, 33, 56, 0.329);
  box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(2, 20, 34, 0.08));
  @include respond(phone) {
    margin: 0 4rem;
  }
  & > .text-program .uefa-heading4.title-program {
    color: white;
    font-weight: 700;
  }
}

.offer-card {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;

  background-image: 
  // linear-gradient(
  //   rgba($color-primary-blue, 0.7) 30%,
  //   rgba($color-primary-red, 0.5) 100%
  // );
    linear-gradient(
    to bottom,
    rgba($color-primary-blue-dark, 0.99) 7%,
    rgba($color-primary-grey-light, 0.7) 45%,
    rgba($color-primary-grey-light, 0.58) 75%,
    // rgba(rgb(247, 247, 247), 0.6) 85%,
    rgba(rgb(247, 247, 247), 0.9) 100%
  );
  // background-color: rgb(235, 237, 241);
  color: rgb(34, 38, 80);
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  /* border: 1px solid hsl( var(--clr-gray)); */
  //   border: 3px solid rgb(6, 27, 92);
  border: 2px solid $color-primary-blue-dark;
  min-height: 50rem;
  --card-shadow-color: rgba(6, 33, 56, 0.829);
  box-shadow: 0.02rem 0rem 0.5rem 0.15rem
    var(--card-shadow-color, rgba(2, 20, 34, 0.08));
}
.offer-card__content {
  font-size: 1.5rem;
  font-weight: 300;
  padding-inline: 1.5rem;
  color: rgb(34, 38, 80);
}
.offer-card__program {
  font-size: 1.5rem;
  font-weight: 300;
  padding-inline: 1.5rem;
  color: rgb(34, 38, 80);
  padding-bottom: 1rem;
}
.offer-card__description {
  margin: 1rem 1rem 2rem;
  text-align: center;
}

.donation-offer-card {
  //   position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  //   justify-content: start;
  //   align-items: center;
  // background-color: rgb(235, 237, 241);
  background-color: rgb(247, 250, 255);
  color: rgb(34, 38, 80);
  padding: 1.5rem;
  //   text-align: center;
  border-radius: 4px;
  /* border: 1px solid hsl( var(--clr-gray)); */
  //   border: 3px solid rgb(6, 27, 92);
  border: 3px solid rgba(69, 91, 110, 0.555);
  min-height: 65rem;
  --card-shadow-color: rgba(6, 33, 56, 0.29);
  box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(2, 20, 34, 0.08));

  margin-bottom: 3rem;
}
.header-donation__mastoras {
  width: 90%;
  margin: auto;
}

.header-donation {
  //   overflow: hidden;

  grid-row: 2 / 3;
  grid-column: 3 / 5;

  position: relative;
  margin-block: 3rem;
}
.offer-card__title {
  margin: 1rem;
  color: #ad1f24;
  font-size: 2rem;
  text-align: center;
}

.donation-offer-card__img {
  display: block;
  min-width: 100%;
  // width: 25rem;
  position: center;
  height: 34rem;
  border-radius: 6px;
  z-index: 2;
  --card-shadow-color: rgba(0, 22, 43, 0.1);
  box-shadow: 0 16px 32px 0 var(--card-shadow-color, rgba(0, 22, 43, 0.08));
  border: 2px solid #fff;
  margin-bottom: 2rem;

  @include respond(phone) {
    max-width: 30rem;
  }
}
.donation-img-box {
  //   position: absolute;
  //   top: -11rem;
  //   padding: 5.5rem;
  place-items: center;
}

.donation {
  margin-top: 3rem;
}

.transparent {
  // opacity: 0.7;
  z-index: 1;
}

.orange {
  background-color: orange;
}
.green {
  background-color: #009965;
}
.yellow {
  background-color: #f4e219;
}
.purple {
  background-color: rgb(102, 27, 159);
}
.greenpastel {
  background-color: greenyellow;
}
.offer-card__title.red-font {
  color: #ad1f24;
}

.lightblue {
  background-color: rgb(138, 209, 240);
}
.purplepink {
  background-color: #746cc0;
}
.orangish {
  background-color: #ffb347;
}
.greenish {
  background-color: #00b38f;
}
